.field input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.imageThumbCarousel {
  max-height: 75px;
  padding: 1px;
  cursor: pointer;
}
.pipCarousel {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}